@charset "UTF-8";

body {
    background-color: #86f79f;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #5ea06d;
}
h1#principal {
    background-color: #5ea06d;
    color: white;
    text-align: center;
}

h2 {
    color: #3f6b4a;
}

.basico {
    color: #3f6b4a;
}

.intermediario {
    color: #8b8d28;
}

.avancado {
    color: #723b33;
}
.destaque {
    background-color: #c4c4509f;
}